
*{
  box-sizing: border-box;
  font-family: cursive;

}

h1{
  text-align: center;
}

p {
  background-color: #bfbfbf;
  border: 2px solid black;
  margin: 10px;
  padding: 60px 10px 5px 10px;
  
}


#container {
  position: relative;
  
}

#p1  {
  background-color: #D59898;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  
  width: 33%;
  padding: 10px;
  text-align: center;
  
}
#p2 {
  background-color:#C14543 ;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  
  width: 33%;
  padding: 10px;
  text-align: center;
  
}
#p3 {
  background-color: #E5D198;
 
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  
  width: 33%;
  padding: 10px;
  text-align: center;
  color:white;
  

}




@media (min-width: 992px) {
   .col-lg-4 {
    float: left;
    
    width: 33.33%;
  }
    
  
}
@media (max-width: 991px) and (min-width: 768px) {
 	.col-md-6{
    
    float: left;
    width: 50%;
  }
  .col-md-12{
    float: left;
    width: 100%;
  }
  #p1,#p2,#p3{
    width: 150px;
  }
    
 
  }
 


	


@media (max-width: 767px) {
 	.col-sd-1{
    
    float: left;
    width: 100%;
    
    

}


	
